body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f1f1f1;
    padding: 0;
    margin: 0;
}

#app {
    display: flex;
}

#dashboard {
    padding: 10px;
    height: calc(100vh - 20px);
    overflow-y: auto;
    width: 100%;
}

.disabledBtn {
    opacity: 0.5;
    pointer-events: none;
}

/*----dashboard-----*/
#filters {
    display: flex;
}

#colors {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.colorBtn {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid grey;
    background-color: grey;
    margin: 5px;
    cursor: pointer;
}

#textFilter {
    margin-left: 100px;
}

#textFilterInput {
    height: 20px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
}

#progressbarComp {
    display: flex;
    align-items: center;
    margin: 50px 0px 30px 0px;
}

#progress {
    border: 2px solid grey;
    border-radius: 20px;
    width: 400px;
    height: 20px;
    overflow: hidden;
    margin-right: 30px;
}

#bar {
    background: greenyellow;
    height: 100%;
    width: 0;
    transition-duration: 500ms;
    transition-timing-function: linear;
    border-radius: 0px 20px 20px 0px;
}

#addCreativeBtn {
    width: 150px;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 8px;
    background: none;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}
  
.creative {
    padding: 10px;
    border: 1px solid grey;
    max-width: 300px;
    border-radius: 4px;
    margin: 10px 0px;
}

/*----dashboard-----*/

/*-----dialog-------*/
#dialog {
    height: calc(100vh - 20px);
    max-width: 35%;
    min-width: 35%;
    padding: 10px;
    border-left: 5px solid black;
    display: none;
}

.showDialog {
    display: block !important;
}

#dialogHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#closeBtn {
    font-size: 40px;
    font-weight: bolder;
    cursor: pointer;
}

#createCreativeForm {
    font-weight: bolder;
}

#createCreativeForm input {
    height: 20px;
    width: 200px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 4px;
}

#createCreativeBtn {
    width: 150px;
    border: 2px solid grey;
    border-radius: 3px;
    padding: 8px;
    background: none;
    font-size: 16px;
    font-weight: bolder;
    cursor: pointer;
}

#colorInput {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
}